.container-name {
  background-color: darkgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 15px;
  align-items: baseline;
  margin-top: 10px;
  margin-left: 150px;
  border-radius: 2px;
  padding-top: 80px;
}
.imageLayout {
  width: "300px";
  border-width: 5px;
}
.description {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.966);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px whitesmoke;
  color: rgb(37, 37, 37);
  border-radius: 5px;
}
.product-description {
  margin-left: 6px;
  padding-left: 20px;
}
.star-rating {
  width: 100px;
  margin-left: 4px;
  margin-top: 10px;
  padding-left: 20px;
}
.product-price {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 4px;
  padding-left: 20px;
  cursor: pointer;
}
.cart-quantity {
  margin-top: 10px;
  margin-left: 4px;
  padding: 3px 3px;
  border-color: rgb(158, 158, 158);
  border-radius: 5px;
}
.quantityIndicator {
  padding-left: 20px;
}

.addtocart {
  background-color: orange;
  width: 150px;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  cursor: pointer;
}
